.CardList>div {
    display: inline-block;
}

@media print {
    .Card {
        page-break-inside: avoid;
    }
}

.Card {
    margin: 1px;
    width: 1.25in;
    height: 3in;
    box-sizing: border-box;
    padding: 0.125in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 80%;
}

/* http://www.creativecolorschemes.com/resources/free-color-schemes/basic-color-scheme.shtml */
.Card-morning {
    border: 0.125in solid #ff7535;
}

.Card-afternoon {
    border: 0.125in solid #009e47;
}

.Card-evening {
    border: 0.125in solid #0079e7;
}

.Card-weekly {
    border: 0.125in solid #d82735;
}

.Card-bonus {
    border: 0.125in solid #681e7e;
}

.Card-special {
    border: 0.125in solid #ffcb35;
}

.Card-name {
    order: 1;
    text-align: center;
    height: 0.5in;
}

.Card-category {
    order: 3;
    font-size: 80%;
    height: 0.5in;
    display: flex;
    align-items: flex-end;
}

.Card-image {
    order: 2;
    font-size: 0.6in;
}

.Card-image img {
    width: 100%;
}